* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Homepage CSS */
body {
  margin: 0;
}

header {
  padding: 10px;
  text-align: center;
  box-shadow: #909090 0px 0.5px 10px 0px;
  margin-bottom: 5px;
}
header img {
  width: 30%;
}

.section__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 234, 234);
  width: 100vw;
}
.section i {
  margin-right: 15px;
}
.section__explore {
  background-color: rgb(249, 249, 249);
  margin: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__explore h3 {
  margin-top: 30px;
}
.section__explore p {
  width: 80vw;
  text-align: center;
  line-height: 20px;
  color: rgb(48, 48, 48);
  margin-bottom: 30px;
  font-weight: 400;
}
.section__explore button {
  margin-bottom: 40px;
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  color: white;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: #8f8e8e 1px 3px 30px 0px;
}
.section__explore button:hover {
  background-image: none;
  background-color: #cb6ac2;
  box-shadow: #605f5f 1px 3px 30px 0px;
}

.section__guide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 30px 30px 40px;
}
.section__guide .step {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(249, 249, 249);
  padding: 12px;
  border-radius: 24px;
  margin-bottom: 25px;
  color: rgb(48, 48, 48);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.section__guide .step p:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
  margin-left: -28px;
  width: 32px;
  height: 32px;
}
.section__guide .step i {
  padding: 20px;
}
.section__guide .step .fa-mobile {
  font-size: 25px;
}
.section__guide .step:hover {
  background-color: rgb(243, 238, 254);
}
.section__guide .step:hover i {
  color: #9356DC;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5vw;
}
main a {
  text-decoration: none;
  color: black;
}
main .restaurant {
  width: 90vw;
  height: 280px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 20px;
  position: relative;
}
main .restaurant img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
main .restaurant h4 {
  margin: 12px;
}
main .restaurant p {
  margin: 12px;
}
main .restaurant i {
  position: absolute;
  top: 220px;
  font-size: 28px;
  right: 30px;
}
main .restaurant i:hover {
  cursor: pointer;
  color: #9356DC;
}
main .restaurant span {
  color: rgb(40, 126, 95);
  background-color: #99E2D0;
  border-radius: 4px;
  padding: 5px 23px;
  position: absolute;
  top: 20px;
  right: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgb(47, 47, 47);
  margin-bottom: 0;
  padding: 5vw;
}
footer span:first-child {
  font-family: "Shrikhand", cursive;
  color: #fff;
  margin: 15px 0;
}
footer ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
footer ul li {
  margin: 10px 0;
}
footer ul li a {
  text-decoration: none;
  color: #fff;
}
footer ul li a i {
  margin-right: 10px;
}

.menu-img {
  width: 100%;
  height: 200px;
}
.menu-img img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}

/* Menu CSS */
.menu {
  border-radius: 35px 35px 0 0;
  background-color: rgb(249, 249, 249);
  position: relative;
  margin-top: -25px;
  z-index: 1;
}
.menu__header {
  box-shadow: none;
  padding-bottom: 3px;
}
.menu__header i {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 20px;
  color: black;
}
.menu h2 {
  font-family: "Shrikhand", cursive;
}
.menu .fa-heart-o {
  position: absolute;
  top: 45px;
  right: 45px;
  font-size: 20px;
}
.menu .fa-heart-o:hover {
  color: #9356DC;
}
.menu .category {
  padding-bottom: 5px;
  font-weight: 100;
  margin: 20px 0 5px;
}
.menu .category:after {
  content: "";
  display: block;
  position: relative;
  width: 8%;
  border: 1.5px solid #99E2D0;
  margin-top: 5px;
}
.menu__items {
  width: 90vw;
  border-radius: 15px;
  position: relative;
  padding: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 6px 0;
  cursor: pointer;
  /* Hovering slide in animation */
}
.menu__items:hover .tick {
  animation: opacity 0.5s both;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu__items:hover .tick i {
  animation: rotate-center 0.7s ease-in-out both;
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu__items:hover .price {
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-left {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-80px);
  }
}
.menu__items h4 {
  margin: 0;
  margin-bottom: 5px;
}
.menu__items p {
  margin: 0;
  font-weight: 100;
}
.menu__items span {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
.menu__items .tick {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0px;
  height: 100%;
  width: 14%;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu__items .tick i {
  color: #99E2D0;
  font-size: 20px;
  padding: 3px;
  border: 0.1px #99E2D0 solid;
  background-color: white;
  border-radius: 50%;
}

.btn {
  width: 40vw;
  margin: 36px 24vw;
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  color: white;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: #8f8e8e 1px 3px 30px 0px;
  cursor: pointer;
}
.btn:hover {
  background-image: none;
  background-color: #cb6ac2;
  box-shadow: #605f5f 1px 3px 30px 0px;
}

/* Loading animation */
.item__1, .item__2, .item__3, .item__4 {
  animation: mymove 1s ease-out;
}

.item__1 {
  animation-delay: 0s;
}

.item__2 {
  animation-delay: 0.2s;
}

.item__3 {
  animation-delay: 0.4s;
}

.item__4 {
  animation-delay: 0.6s;
}

@keyframes mymove {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */